 {% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}
<div class="messages" id="messages">
    {% for message in messages %}
    <!-- django code für nen forschleife, wie *ngFor bei angular -->
    <div class="message">
        <div> {{ message.author }}: <i> {{ message.text }} </i></div><span style="font-size: 10px; color: blue;">[{{ message.created_at }}]</span>
    </div>
    {% endfor %}
</div>
<form onsubmit="sendMessage(); return false;">
    <!-- return false sorgt dafür, dass das prevent default form nicht läuft, also die seite nicht neu lädt. -->
    <!-- hier benutzten wir kein HTML request sondern ein JS request, wodurch kein neue HTML geladen werden muss. JS arbeitet im hintergrund, HTML wird immer neu geladen -->
    {% csrf_token %}
    <input type="hidden" id="channelId" value="{{channelId}}">
    <!-- Django code    -->
    <div class="sendInput">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
            <label class="mdl-textfield__label" for="messageField">Your Message...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send 
      </button>
    </div>
</form>
{% endif %} {% endblock %}