{% extends "base.html" %} {% block content %}
<div>
    <form action="/login/" method="post">
        <!-- das form so sended ein HTML request mit method POST und auf den pfad /login/, beim chat benutzten wir einen JS request, wodurch die seite keine neue HTML laden muss -->
        {% csrf_token %}
        <!-- <div>

            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
        </div> -->
        <div style="display: flex; flex-direction:column; align-items: start">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                <input class="mdl-textfield__input" name="username" type="text" id="username" autocomplete="off">
                <label class="mdl-textfield__label" for="username">Username...</label>

            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password" type="password" id="password">
                <label class="mdl-textfield__label" for="passowrd">Password...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--primary">
            Login
          </button>
        </div>
    </form>
    {% if invalidLogin %}
    <p style="color: red;">Username or Password is not correct! Please try again!</p>
    {% endif %}
</div>
{% endblock %}